# PostgreSQL connection settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stocks
DB_USER=stockman
DB_PASS=changeme
DB_MAX_CONN=5

# Dash server settings
DASH_HOST=127.0.0.1
DASH_PORT=8050
DASH_DEBUG=True
